In [88]:
import os,glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import sys
import category_encoders as ce
from utils import *
pd.set_option('display.max_columns', 50)

In [89]:
INPUT = "../input"
TRAIN = os.path.join(INPUT, 'train_data.csv')
TEST = os.path.join(INPUT, 'test_data.csv')
ALL = os.path.join(INPUT, 'all_data.csv')
FEATURED = os.path.join(INPUT, "feature")

In [90]:
df = read_new_csv()
df_train, df_test = df_split(df)

../feature/08161044_bench.csv was read

In [13]:
df_train.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,duration_log,duration_sqrt,balance_log,balance_sqrt,balance_log_cut,age_bin,campaign_log,all_campaign,campaign_bin,previous_bin
0,58,1,1,1,0,10163,1,0,1,5,5,262,1,-1,0,1,0.0,5.568345,16.186414,9.226509,100.811706,0.226509,3,0.0,1,1,0
1,44,2,2,2,0,8049,1,0,1,5,5,152,1,-1,0,1,0.0,5.023881,12.328828,8.993303,89.716219,-0.006697,3,0.0,1,1,0
2,33,3,1,2,0,8022,1,1,1,5,5,77,1,-1,0,1,0.0,4.343805,8.774964,8.989943,89.565618,-0.010057,3,0.0,1,1,0
3,33,4,2,3,0,8021,0,0,1,5,5,199,1,-1,0,1,0.0,5.293305,14.106736,8.989818,89.560036,-0.010182,3,0.0,1,1,0
4,35,1,1,1,0,8251,1,0,1,5,5,140,1,-1,0,1,0.0,4.941642,11.832160,9.018090,90.835015,0.018090,3,0.0,1,1,0

In [14]:
df_train.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,duration_log,duration_sqrt,balance_log,balance_sqrt,balance_log_cut,age_bin,campaign_log,all_campaign,campaign_bin,previous_bin
0,58,1,1,1,0,10163,1,0,1,5,5,262,1,-1,0,1,0.0,5.568345,16.186414,9.226509,100.811706,0.226509,3,0.0,1,1,0
1,44,2,2,2,0,8049,1,0,1,5,5,152,1,-1,0,1,0.0,5.023881,12.328828,8.993303,89.716219,-0.006697,3,0.0,1,1,0
2,33,3,1,2,0,8022,1,1,1,5,5,77,1,-1,0,1,0.0,4.343805,8.774964,8.989943,89.565618,-0.010057,3,0.0,1,1,0
3,33,4,2,3,0,8021,0,0,1,5,5,199,1,-1,0,1,0.0,5.293305,14.106736,8.989818,89.560036,-0.010182,3,0.0,1,1,0
4,35,1,1,1,0,8251,1,0,1,5,5,140,1,-1,0,1,0.0,4.941642,11.832160,9.018090,90.835015,0.018090,3,0.0,1,1,0

# カテゴリカル変数

## 2値を01で振る

In [5]:
df.loan = df.loan.replace({"yes":1, "no":0})

In [6]:
df.housing = df.housing.replace({"yes":1, "no":0})

In [7]:
df.y = df.y.replace({"yes":1, "no":0})

In [11]:
df.default = df.default.replace({"yes":1, "no":0})

## ordinal encoding

monthは別でしょり

In [6]:
ordinal_encoding_cols = ['job', 'education', 'marital',  'poutcome', 'contact']

ce_ordinal = ce.OrdinalEncoder(cols = ordinal_encoding_cols, handle_unknown = 'impute')
df = ce_ordinal.fit_transform(df)

/Users/kohei/.pyenv/versions/3.8.7/lib/python3.8/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [7]:
month_list = ["jan", "feb", "mar", "apr", "may", "jun","jul", "aug", "sep", "oct","nov", "dec"]
month_dict = dict(zip(month_list, range(1, 13)))

df["month"] = df["month"].map(month_dict)
df.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,is_train,duration_log,duration_sqrt,balance_log,balance_sqrt,balance_log_cut,age_bin,campaign_log,all_campaign,campaign_bin,previous_bin
0,-1,58,1,1,1,0,10163,1,0,1,5,5,262,1,-1,0,1,0.0,True,5.568345,16.186414,9.226509,100.811706,0.226509,3,0.0,1,1,0
1,-1,44,2,2,2,0,8049,1,0,1,5,5,152,1,-1,0,1,0.0,True,5.023881,12.328828,8.993303,89.716219,-0.006697,3,0.0,1,1,0
2,-1,33,3,1,2,0,8022,1,1,1,5,5,77,1,-1,0,1,0.0,True,4.343805,8.774964,8.989943,89.565618,-0.010057,3,0.0,1,1,0
3,-1,33,4,2,3,0,8021,0,0,1,5,5,199,1,-1,0,1,0.0,True,5.293305,14.106736,8.989818,89.560036,-0.010182,3,0.0,1,1,0
4,-1,35,1,1,1,0,8251,1,0,1,5,5,140,1,-1,0,1,0.0,True,4.941642,11.832160,9.018090,90.835015,0.018090,3,0.0,1,1,0

In [9]:
save_feature(df)

../feature/08161034.csv
save completed

# numerical data

memo
https://qiita.com/takahashi_yukou/items/2b6d7776634ef55cec58
- expansion_encoding  
- hoo

## age

顧客の年齢のデータ. (int, 18~95)
- EDAして良さそうな情報見つけたい。
- ２０代、30代などのカテゴリ変数を作る。＝＞分け方を工夫
- 他のカテゴリ変数との関係を探す(interaction)

In [53]:
def campaign_binify(x):
    if 18<= x <=22:
        return 1
    if 23<= x <= 30:
        return 2
    if 31<= x <= 61:
        return 3
    if 61< x:
        return 4

In [54]:
df["age_bin"] = df.age.map(campaign_binify)

## duration

最終のときに接触していた時間 
- （仮説）大きいほどyesの割合高いのでは？
=> yesとnoでグラフの形、もしくはmeanを見てみる
=> mean yes:539, no: 221　stdもまあまあ小さいので信頼できそう。
- 左に寄った形をしているのでlog取りたいお気持ち
-

In [18]:
df["duration"] = df.duration.map(lambda x: x+1)
df["duration_log"] = np.log(df.duration)
df["duration_sqrt"] = np.sqrt(df.duration)

In [20]:
save_feature(df)

../feature/8151947.csv
save completed

## balance

貯金残高
- 多いほどyesの平均が高い。　上振れのものは圧倒的にyが高い。
＝＞グラフで比較してみるのもあり
- ハズレ値を除去する
＝＞testにある場合はどうする？いくつある？閾値は？
=> 8.6以下、10.3以上は外れ値と認定して0にする。  
testデータには18個しないので問題なし。
- logにする

In [4]:
min_balance = abs(min(df.balance))
min_balance

8019

In [5]:
df["balance"] = df.balance.map(lambda x: x+min_balance+1)
df["balance_log"] = np.log(df.balance)
df["balance_sqrt"] = np.sqrt(df.balance)

In [7]:
save_feature(df)

../feature/815201.csv
save completed

In [21]:
def test(x):
    if x<8.6 or x>10.3:
        return 0
    else:
        return x-9

In [25]:

df["balance_log_cut"] = df.balance_log.map(lambda x: 0 if (x <8.6 or x>10.3) else x-9)

test(0)

0

In [26]:
save_feature(df)

../feature/8152134.csv
save completed

In [9]:
df.describe()

,ID,age,job,marital,education,default,balance,housing,loan,contact,...,pdays,previous,poutcome,y,duration_log,duration_sqrt,balance_log,balance_sqrt,balance_log_cut,age_bin
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,...,45211.000000,45211.000000,45211.000000,40211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,2482.530601,40.936210,5.125854,1.513238,2.049944,0.018027,9382.272058,0.555838,0.160226,1.776293,...,40.197828,0.580323,1.357767,0.117182,5.171812,14.675441,9.118653,96.109808,0.113665,3.645861
std,8298.978937,10.618762,3.271028,0.692948,0.968986,0.133049,3044.765829,0.496878,0.366820,0.549747,...,100.128746,2.303441,0.804435,0.321641,0.921822,6.617814,0.212975,12.049073,0.189765,1.083271
min,-1.000000,18.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,...,-1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,-0.345134,1.000000
25%,-1.000000,33.000000,2.000000,1.000000,1.000000,0.000000,8092.000000,0.000000,0.000000,1.000000,...,-1.000000,0.000000,1.000000,0.000000,4.644391,10.198039,8.998631,89.955545,-0.001369,3.000000
50%,-1.000000,39.000000,6.000000,1.000000,2.000000,0.000000,8468.000000,1.000000,0.000000,2.000000,...,-1.000000,0.000000,1.000000,0.000000,5.198497,13.453624,9.044050,92.021737,0.043223,3.000000
75%,-1.000000,48.000000,8.000000,2.000000,2.000000,0.000000,9448.000000,1.000000,0.000000,2.000000,...,-1.000000,0.000000,1.000000,0.000000,5.768321,17.888544,9.153558,97.200823,0.150909,4.000000
max,45199.000000,95.000000,12.000000,3.000000,4.000000,1.000000,110147.000000,1.000000,1.000000,3.000000,...,871.000000,275.000000,4.000000,1.000000,8.500861,70.135583,11.609571,331.884016,1.298363,9.000000

In [10]:
df.head(20)

,ID,age,job,marital,education,default,balance,housing,loan,contact,...,previous,poutcome,y,is_train,duration_log,duration_sqrt,balance_log,balance_sqrt,balance_log_cut,age_bin
0,-1,58,1,1,1,0,10163,1,0,1,...,0,1,0.0,True,5.568345,16.186414,9.226509,100.811706,0.226509,5
1,-1,44,2,2,2,0,8049,1,0,1,...,0,1,0.0,True,5.023881,12.328828,8.993303,89.716219,-0.006697,4
2,-1,33,3,1,2,0,8022,1,1,1,...,0,1,0.0,True,4.343805,8.774964,8.989943,89.565618,-0.010057,3
3,-1,33,4,2,3,0,8021,0,0,1,...,0,1,0.0,True,5.293305,14.106736,8.989818,89.560036,-0.010182,3
4,-1,35,1,1,1,0,8251,1,0,1,...,0,1,0.0,True,4.941642,11.832160,9.018090,90.835015,0.018090,3
5,-1,28,1,2,1,0,8467,1,1,1,...,0,1,0.0,True,5.384495,14.764823,9.043932,92.016303,0.043932,2
6,-1,42,3,3,1,1,8022,1,0,1,...,0,1,0.0,True,5.942799,19.519221,8.989943,89.565618,-0.010057,4
7,-1,58,5,1,4,0,8141,1,0,1,...,0,1,0.0,True,3.931826,7.141428,9.004668,90.227490,0.004668,5
8,-1,43,2,2,2,0,8613,1,0,1,...,0,1,0.0,True,4.025352,7.483315,9.061028,92.806250,0.061028,4
9,-1,41,6,3,2,0,8290,1,0,1,...,0,1,0.0,True,5.407172,14.933185,9.022805,91.049437,0.022805,4
10,-1,29,6,2,2,0,8410,1,0,1,...,0,1,0.0,True,4.927254,11.747340,9.037177,91.706052,0.037177,2
11,-1,53,2,1,2,0,8026,1,0,1,...,0,1,0.0,True,6.249975,22.759613,8.990442,89.587946,-0.009558,5
12,-1,58,2,1,3,0,8091,1,0,1,...,0,1,0.0,True,4.276666,8.485281,8.998508,89.949986,-0.001492,5
13,-1,57,7,1,2,0,8182,1,0,1,...,0,1,0.0,True,5.164786,13.228757,9.009692,90.454408,0.009692,5
14,-1,51,5,1,4,0,8249,1,0,1,...,0,1,0.0,True,5.869297,18.814888,9.017847,90.824006,0.017847,5
15,-1,45,6,2,3,0,8033,1,0,1,...,0,1,0.0,True,4.595120,9.949874,8.991313,89.627005,-0.008687,4
16,-1,57,8,1,4,0,8072,1,0,1,...,0,1,0.0,True,3.663562,6.244998,8.996157,89.844310,-0.003843,5
17,-1,33,7,1,2,0,8020,1,0,1,...,0,1,0.0,True,4.007333,7.416198,8.989694,89.554453,-0.010306,3
18,-1,28,8,1,2,0,8743,1,1,1,...,0,1,0.0,True,5.572154,16.217275,9.076009,93.504011,0.076009,2
19,-1,56,1,1,1,0,8799,1,0,1,...,0,1,0.0,True,5.105945,12.845233,9.082393,93.802985,0.082393,5

In [57]:
save_feature(df)

../feature/816913.csv
save completed

## campaign

In [33]:
# 要らなかった
df["campaign_log"] = np.log(df.campaign)

In [34]:
df.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,...,poutcome,y,is_train,duration_log,duration_sqrt,balance_log,balance_sqrt,balance_log_cut,age_bin,campaign_log
0,-1,58,1,1,1,0,10163,1,0,1,...,1,0.0,True,5.568345,16.186414,9.226509,100.811706,0.226509,5,0.0
1,-1,44,2,2,2,0,8049,1,0,1,...,1,0.0,True,5.023881,12.328828,8.993303,89.716219,-0.006697,4,0.0
2,-1,33,3,1,2,0,8022,1,1,1,...,1,0.0,True,4.343805,8.774964,8.989943,89.565618,-0.010057,3,0.0
3,-1,33,4,2,3,0,8021,0,0,1,...,1,0.0,True,5.293305,14.106736,8.989818,89.560036,-0.010182,3,0.0
4,-1,35,1,1,1,0,8251,1,0,1,...,1,0.0,True,4.941642,11.832160,9.018090,90.835015,0.018090,3,0.0

In [18]:
save_feature(df)

../feature/816750.csv
save completed

In [4]:
df["all_campaign"] = df["campaign"]+df["previous"]

In [24]:
np.mean(df[(df.poutcome==3)&(df.y == 1)].previous)
# poutcomeが失敗で、yがtrueは、previousが多い

3.109289617486339

In [25]:
np.mean(df[(df.poutcome==3)&(df.y == 0)].previous)

2.8702787184162544

In [20]:
df.describe()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,duration_log,duration_sqrt,balance_log,balance_sqrt,balance_log_cut,age_bin,campaign_log,all_campaign
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,40211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,2482.530601,40.936210,5.125854,1.513238,2.049944,0.018027,9382.272058,0.555838,0.160226,1.776293,15.806419,3.940722,259.163080,2.763841,40.197828,0.580323,1.357767,0.117182,5.171812,14.675441,9.118653,96.109808,0.113665,3.645861,0.706819,3.344164
std,8298.978937,10.618762,3.271028,0.692948,0.968986,0.133049,3044.765829,0.496878,0.366820,0.549747,8.322476,3.179741,257.527812,3.098021,100.128746,2.303441,0.804435,0.321641,0.921822,6.617814,0.212975,12.049073,0.189765,1.083271,0.712172,3.799297
min,-1.000000,18.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,-1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,-0.345134,1.000000,0.000000,1.000000
25%,-1.000000,33.000000,2.000000,1.000000,1.000000,0.000000,8092.000000,0.000000,0.000000,1.000000,8.000000,1.000000,104.000000,1.000000,-1.000000,0.000000,1.000000,0.000000,4.644391,10.198039,8.998631,89.955545,-0.001369,3.000000,0.000000,1.000000
50%,-1.000000,39.000000,6.000000,1.000000,2.000000,0.000000,8468.000000,1.000000,0.000000,2.000000,16.000000,3.000000,181.000000,2.000000,-1.000000,0.000000,1.000000,0.000000,5.198497,13.453624,9.044050,92.021737,0.043223,3.000000,0.693147,2.000000
75%,-1.000000,48.000000,8.000000,2.000000,2.000000,0.000000,9448.000000,1.000000,0.000000,2.000000,21.000000,6.000000,320.000000,3.000000,-1.000000,0.000000,1.000000,0.000000,5.768321,17.888544,9.153558,97.200823,0.150909,4.000000,1.098612,4.000000
max,45199.000000,95.000000,12.000000,3.000000,4.000000,1.000000,110147.000000,1.000000,1.000000,3.000000,31.000000,12.000000,4919.000000,63.000000,871.000000,275.000000,4.000000,1.000000,8.500861,70.135583,11.609571,331.884016,1.298363,9.000000,4.143135,277.000000

In [41]:
def campaign_binify(x):
    if 0<= x <=4:
        return x
    if 5<= x <= 13:
        return (x+1)//3+3
    if 14<= x <= 24:
        return 8
    if 24< x:
        return 9

In [42]:
df["campaign_bin"] = df["campaign"].map(campaign_binify)

In [43]:
df["previous_bin"] = df["previous"].map(campaign_binify)

In [56]:
df[["age", "age_bin"]].head(20)

    age  age_bin
0    58        3
1    44        3
2    33        3
3    33        3
4    35        3
5    28        2
6    42        3
7    58        3
8    43        3
9    41        3
10   29        2
11   53        3
12   58        3
13   57        3
14   51        3
15   45        3
16   57        3
17   33        3
18   28        2
19   56        3

## month_day

In [37]:
df = df.astype({"month":str, "day":str})
df["month_day"] = df["month"].map(lambda s:"0"+s if len(s) == 1 else s)
df["month_day"] = df['month_day'].str.cat(df['day'].map(lambda s:"0"+s if len(s) == 1 else s))

0       0505
1       0505
2       0505
3       0505
4       0505
        ...
9995    0618
9996    0618
9997    0618
9998    0618
9999    0618
Name: month_day, Length: 10000, dtype: object

In [38]:
save_feature(df)

../feature/08161044.csv
save completed

# 欠損値処理

In [91]:
SEED = 10
## 予測モデル
from sklearn.ensemble import RandomForestClassifier

In [92]:
df_test_job.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,is_train,duration_log,duration_sqrt,balance_log,balance_sqrt,balance_log_cut,age_bin,campaign_log,all_campaign,campaign_bin,previous_bin,month_day,is_job_kesson
3,-1,33,7,2,3,0,8021,0,0,1,5,5,199,1,-1,0,1,0.0,True,5.293305,14.106736,8.989818,89.560036,-0.010182,3,0.000000,1,1,0,505,True
316,-1,59,1,3,3,0,8047,0,0,1,5,5,348,3,-1,0,1,0.0,True,5.852202,18.654758,8.993055,89.705072,-0.006945,3,1.098612,3,3,0,505,True
771,-1,37,8,2,3,0,8434,1,0,1,7,5,132,1,-1,0,1,0.0,True,4.882802,11.489125,9.040026,91.836812,0.040026,3,0.000000,1,1,0,507,True
948,-1,29,8,2,4,0,8070,1,0,1,7,5,51,2,-1,0,1,0.0,True,3.931826,7.141428,8.995909,89.833179,-0.004091,2,0.693147,2,2,0,507,True
1149,-1,41,8,2,4,0,10418,1,0,1,8,5,288,2,-1,0,1,0.0,True,5.662960,16.970563,9.251290,102.068604,0.251290,3,0.693147,2,2,0,508,True

In [93]:
using_kesson = ["age_bin", "marital", "education", "balance", "housing", "loan", "month_day", "campaign_bin", "pdays", "poutcome"]
target_kesson = ["job", "education", "contact", "poutcome"]

## job

In [94]:
df_train_job = df[df.job !=4]
df_test_job = df[df.job ==4]
df_train_job["is_job_kesson"] = False
df_test_job["is_job_kesson"] = True

<ipython-input-94-c516beded7c5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train_job["is_job_kesson"] = False
<ipython-input-94-c516beded7c5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test_job["is_job_kesson"] = True

In [95]:
X_job = df_train_job[using_kesson].values
y_job = df_train_job["job"].values

In [96]:
rf_job = RandomForestClassifier()
rf_job.fit(X_job,y_job)
prd_job = rf_job.predict(df_test_job[using_kesson])

In [97]:
df[df.job ==4]
pd.DataFrame(prd_job).info()

for i in range(len(prd_job)):
    df_test_job.iat[i, 2] = prd_job[i]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       288 non-null    int64
dtypes: int64(1)
memory usage: 2.4 KB

In [98]:
df = pd.concat([df_train_job, df_test_job])

## education

In [99]:
unknown_num = 3
target_loc = 4

df_train_education = df[df.education !=unknown_num]
df_test_education = df[df.education ==unknown_num]
df_train_education["is_education_kesson"] = False
df_test_education["is_education_kesson"] = True

X_education = df_train_education[using_kesson].values
y_education = df_train_education["education"].values

rf_education = RandomForestClassifier()
rf_education.fit(X_education,y_education)
prd_education = rf_education.predict(df_test_education[using_kesson])

df[df.education ==unknown_num]
pd.DataFrame(prd_education).info()

for i in range(len(prd_education)):
    df_test_education.iat[i, target_loc] = prd_education[i]
    
df = pd.concat([df_train_education, df_test_education])

<ipython-input-99-baf20d83f586>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train_education["is_education_kesson"] = False
<ipython-input-99-baf20d83f586>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test_education["is_education_kesson"] = True

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1857 entries, 0 to 1856
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1857 non-null   int64
dtypes: int64(1)
memory usage: 14.6 KB

In [100]:
df[df.is_education_kesson == True].head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,is_train,duration_log,duration_sqrt,balance_log,balance_sqrt,balance_log_cut,age_bin,campaign_log,all_campaign,campaign_bin,previous_bin,month_day,is_job_kesson,is_education_kesson
12,-1,58,2,1,2,0,8091,1,0,1,5,5,72,1,-1,0,1,0.0,True,4.276666,8.485281,8.998508,89.949986,-0.001492,3,0.0,1,1,0,505,False,True
15,-1,45,6,2,2,0,8033,1,0,1,5,5,99,1,-1,0,1,0.0,True,4.595120,9.949874,8.991313,89.627005,-0.008687,3,0.0,1,1,0,505,False,True
37,-1,60,8,1,2,0,8124,1,0,1,5,5,23,1,-1,0,1,0.0,True,3.135494,4.795832,9.002578,90.133235,0.002578,3,0.0,1,1,0,505,False,True
39,-1,58,5,1,2,0,8116,1,0,1,5,5,617,1,-1,0,1,0.0,True,6.424869,24.839485,9.001593,90.088845,0.001593,3,0.0,1,1,0,505,False,True
51,-1,47,8,1,2,0,8326,1,0,1,5,5,14,1,-1,0,1,0.0,True,2.639057,3.741657,9.027138,91.246918,0.027138,3,0.0,1,1,0,505,False,True

## contact

In [101]:
unknown_num = 1
target_loc = 9

df_train_contact = df[df.contact !=unknown_num]
df_test_contact = df[df.contact ==unknown_num]
df_train_contact["is_contact_kesson"] = False
df_test_contact["is_contact_kesson"] = True

X_contact = df_train_contact[using_kesson].values
y_contact = df_train_contact["contact"].values

rf_contact = RandomForestClassifier()
rf_contact.fit(X_contact,y_contact)
prd_contact = rf_contact.predict(df_test_contact[using_kesson])

df[df.contact ==unknown_num]
pd.DataFrame(prd_contact).info()

for i in range(len(prd_contact)):
    df_test_contact.iat[i, target_loc] = prd_contact[i]
    
df = pd.concat([df_train_contact, df_test_contact])

<ipython-input-101-cc8a4d9c5a30>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train_contact["is_contact_kesson"] = False
<ipython-input-101-cc8a4d9c5a30>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test_contact["is_contact_kesson"] = True

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13020 entries, 0 to 13019
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       13020 non-null  int64
dtypes: int64(1)
memory usage: 101.8 KB

## poutcome

In [102]:
unknown_num = 1
target_loc = 16

df_train_poutcome = df[df.poutcome !=unknown_num]
df_test_poutcome = df[df.poutcome ==unknown_num]
df_train_poutcome["is_poutcome_kesson"] = False
df_test_poutcome["is_poutcome_kesson"] = True

X_poutcome = df_train_poutcome[using_kesson].values
y_poutcome = df_train_poutcome["poutcome"].values

rf_poutcome = RandomForestClassifier()
rf_poutcome.fit(X_poutcome,y_poutcome)
prd_poutcome = rf_poutcome.predict(df_test_poutcome[using_kesson])

df[df.poutcome ==unknown_num]
pd.DataFrame(prd_poutcome).info()

for i in range(len(prd_poutcome)):
    df_test_poutcome.iat[i, target_loc] = prd_poutcome[i]
    
df = pd.concat([df_train_poutcome, df_test_poutcome])

<ipython-input-102-ed873523505c>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train_poutcome["is_poutcome_kesson"] = False
<ipython-input-102-ed873523505c>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test_poutcome["is_poutcome_kesson"] = True

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36959 entries, 0 to 36958
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       36959 non-null  int64
dtypes: int64(1)
memory usage: 288.9 KB

In [104]:
df[df.is_poutcome_kesson==True].head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,is_train,duration_log,duration_sqrt,balance_log,balance_sqrt,balance_log_cut,age_bin,campaign_log,all_campaign,campaign_bin,previous_bin,month_day,is_job_kesson,is_education_kesson,is_contact_kesson,is_poutcome_kesson
11196,-1,27,1,2,2,0,8055,0,0,2,4,7,256,1,-1,0,2,0.0,True,5.545177,16.000000,8.994048,89.749652,-0.005952,2,0.000000,1,1,0,704,False,False,False,True
11197,-1,43,8,1,2,0,8125,0,1,2,4,7,669,2,-1,0,2,0.0,True,6.505784,25.865034,9.002701,90.138782,0.002701,3,0.693147,2,2,0,704,False,False,False,True
11198,-1,31,2,2,2,0,8039,0,0,3,4,7,66,2,-1,0,2,0.0,True,4.189655,8.124038,8.992060,89.660471,-0.007940,3,0.693147,2,2,0,704,False,False,False,True
11199,-1,28,8,2,2,0,7893,1,0,2,4,7,1045,3,-1,0,2,1.0,True,6.951772,32.326460,8.973732,88.842557,-0.026268,2,1.098612,3,3,0,704,False,False,False,True
11200,-1,50,8,1,2,0,9349,1,1,3,4,7,142,2,-1,0,2,0.0,True,4.955827,11.916375,9.143025,96.690227,0.143025,3,0.693147,2,2,0,704,False,False,False,True

In [105]:
save_feature(df)

../feature/08161926.csv
save completed